*.iml
.gradle
/local.properties
local.properties
/.idea/caches
/.idea/libraries
/.idea/workspace.xml
.DS_Store
/build
app/build
/captures
.externalNativeBuild
.cxx
*.jks
!debug.keystore
*.hprof
.env
.env.local
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output
